* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Poppins", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  background: #f6fafd;
  color: #0a1931;
}

.btn-voltar {
  position: absolute;
  top: 120px;
  left: 20px;
  display: flex;
  align-items: center;
  padding: 10px 18px;
  font-size: 16px;
  color: #fff;
  background: #0a1931;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.btn-voltar:hover {
  background-color: #0a193150;
  transform: translateY(-2px);
}
