.eventos-section {
  padding: 80px 20px;
}

.eventos-section .title {
  font-size: 38px;
  color: #0a1931;
  text-align: center;
  margin-bottom: 10px;
}

.eventos-section .subtitle {
  font-size: 16px;
  color: #0a1931;
  text-align: center;
  margin-bottom: 70px;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 80%;
}

.eventos-section .eventos-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 90%;
  margin-left: 5%;
}

.eventos-section .eventos-div .eventos-card {
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  overflow: hidden;
  text-align: center;
  background-color: #fff;
  max-width: 360px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.eventos-section .eventos-div .eventos-card img {
  width: 100%;
}

.eventos-section .eventos-div .eventos-card h2 {
  font-size: 24px;
  color: #0a1931;
  margin: 15px 0;
}

.eventos-section .eventos-div .eventos-card p {
  width: 90%;
  margin-left: 50%;
  transform: translateX(-50%);
  font-size: 10px;
  margin-bottom: 20px;
}

.eventos-section .eventos-div .eventos-card .button-eventos {
  padding: 5px 20px;
  margin-bottom: 20px;
  font-size: 16px;
  color: #fff;
  background: #0a1931;
  width: auto;
  border-radius: 12px;
  cursor: pointer;
}

@media (max-width: 1350px) {
  .eventos-section .eventos-div .eventos-card{
    max-width: 300px;
  }
}

@media (max-width: 924px) {
  .eventos-section .eventos-div {
    width: 100%;
    margin: 0;
    flex-wrap: nowrap;
    overflow: scroll;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 30px 20px;
    gap: 40px;
  }

  .eventos-section .subtitle {
    font-size: 12px;
    width: 100%;
  }

  .eventos-section .eventos-div .eventos-card {
    min-width: 260px;
  }

  .eventos-section .eventos-div .eventos-card h2 {
    font-size: 20px;
  }

  .eventos-section .eventos-div .eventos-card p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
