.feedback-section {
  width: 90%;
  margin: auto;
  margin-top: 120px;
  margin-bottom: 50px;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(580px, 1fr));
  gap: 20px;
}

.feedback-card {
  background: #fff;
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  position: relative;
}

.feedback-card input {
  display: none;
}

.feedback-text {
  font-size: 14px;
  color: #333;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  transition: all 0.3s ease;
  padding-right: 25px;
}

.feedback-card input:checked ~ .feedback-text {
  -webkit-line-clamp: unset;
}

.toggle {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  color: #555;
  user-select: none;
}

.feedback-card input:checked + label.toggle::after {
  content: "−";
}

.feedback-card input:not(:checked) + label.toggle::after {
  content: "+";
}
