.landing-page-section {
  width: 100%;
  height: 100vh;
  max-height: 900px;
  display: flex;
  align-items: end;
  justify-content: space-around;
  position: relative;
  padding: 60px 100px 0 100px;
  background: #1a3d63;
}

.landing-page-section .landing-page-content {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
}

.landing-page-section .landing-page-content h1 {
  font-size: 48px;
  color: #f6fafd;
  margin-bottom: 20px;
}

.landing-page-section .landing-page-content p {
  font-size: 14px;
  color: #f6fafd;
  margin-bottom: 30px;
}

.landing-page-section .landing-page-content #saiba-mais {
  padding: 12px 30px;
  background: linear-gradient(135deg, #0a1931, #1a3d63);
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  border-radius: 20px;
  border: none;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: 0.3s;
  width: 150px;
}

.landing-page-section .landing-page-content #saiba-mais:hover {
  background: linear-gradient(135deg, #1a3d63, #0a1931);
  transform: scale(1.05);
}

.landing-page-section .landing-page-image {
  height: 100%;
}

@media (width > 1800px) {
  .landing-page-section{
    justify-content: center;
    gap: 50px;
  }
}

@media (max-width: 1300px) {
  .landing-page-section {
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 80px 50px 0 50px;
    max-height: 750px;
  }

  .landing-page-section .landing-page-content h1 {
    font-size: 34px;
  }

  .landing-page-section .landing-page-content p {
    font-size: 12px;
    max-width: 500px;
  }
}

@media (max-width: 1000px) {
  .landing-page-section{
    height: auto;
  }

  .landing-page-section .landing-page-image{
    width: 50%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .landing-page-section {
    flex-direction: column-reverse;
    justify-content: end;
    align-items: center;
    text-align: center;
    padding: 150px 20px 0 20px;
    height: auto;
    max-height: 1200px;
    min-height: 1000px;
    gap: 0;
  }

  .landing-page-section .landing-page-content {
    max-width: 100%;
    justify-content: end;
    align-items: center;
  }

  .landing-page-section .landing-page-image {
    margin-top: 30px;
    height: 50vh;
    width: auto;
  }

  .landing-page-section .landing-page-content h1 {
    font-size: 35px;
  }
}

@media (max-width: 520px) {
  .landing-page-section {
    height: 100vh;
    max-height: 1000px;
  }

  .landing-page-section .landing-page-image {
    height: auto;
    width: 100%;
  }
}

@media (max-width: 768px) and (max-height: 1000px) {
  .landing-page-section{
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: auto;
  }

  .landing-page-section .landing-page-image{
    min-height: 400px;
  }
}

@media (max-width: 400px) {
  .landing-page-section{
    height: auto;
    min-height: auto;
  }
}