.sobre-mim-section {
  padding: 150px 30px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sobre-mim-section .card-div {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.sobre-mim-section .card-div .card {
  width: 100%;
  background: #f6fafd;
  border: 1px solid #1a3d63;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.5);
}

.sobre-mim-section .card-div .card .foto-perfil-nina {
  position: relative;
  overflow: hidden;
  border-radius: 100%;
  aspect-ratio: 4 / 3;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  width: 200px;
  height: 200px;
}

.sobre-mim-section .card-div .card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.sobre-mim-section .card-div .card .card-text {
  width: 60%;
}

.sobre-mim-section .card-div .card .card-text h2 {
  margin-bottom: 10px;
}

.sobre-mim-section .card-div .card .card-text p {
  font-size: 12px;
  margin-bottom: 10px;
}

.sobre-mim-section .card-div .card .card-text .rds {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.sobre-mim-section .card-div .card .card-text a {
  text-decoration: none;
  color: #f6fafd;
  background-color: #1a3d63;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  border-radius: 10px;
}

.sobre-mim-section .card-div .card .card-text a i {
  font-size: 20px;
}

.sobre-mim-section .card-div .text-card-div {
  width: 100%;
  max-width: 650px;
  text-align: justify;
  height: 100%;
  font-size: 14px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 14px;
  max-width: 1000px;
  width: 100%;
  margin: 20px 0;
}

.gallery .gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  aspect-ratio: 4 / 3;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
}

.gallery .gallery-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease;
}

.gallery-item:hover img {
  transform: scale(1.05);
}

@media (max-width: 1000px) {
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }

  .sobre-mim-section {
    padding: 120px 30px;
  }
}

@media (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 10px;
  }
}

@media (max-width: 667px) {
  .sobre-mim-section .card-div .card {
    flex-direction: column;
    width: 300px;
  }

  .sobre-mim-section .card-div .card .card-text {
    width: 100%;
    text-align: center;
  }

  .sobre-mim-section .card-div .card .card-text .rds {
    justify-content: center;
  }
}

@media (height > 700px) {
  .sobre-mim-section {
    min-height: auto;
  }
}
